.input-form{
  padding: 1.5rem;
  background-color: white;
  margin: 4rem auto;
  width: 40rem;
  max-width: 80%;
  border-radius: 10px;
}

.input-form input{
  box-sizing: border-box;
  height: 2rem;
  width: 100%;
  border-color: lightgray;
  border-style: solid;
  margin: 0.7rem 0;
  padding: 0.5rem 1rem;
}

.input-form label{
  font-weight: 500;
}

.input-form button{
  padding: 0.5rem 1.5rem;
  background-color: rgb(174, 132, 77);
  border:1px solid black;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.input-form button:hover{
background-color: rgb(146, 116, 72);
}

.input-form.invalid input{
  border-color: red;
}

.input-form.invalid label{
  color: red;
}